html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/login_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_register {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    height: 60px;
    background: url('../images/login_title.png') no-repeat center;
}

.login-box {}

.register-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    top: 9px;
    left: 9px;
    position: absolute;
}

.layui-input {
    padding-left: 32px;
}